@model System.Data.DataTable
<!-- NEW COL START -->
<!-- Widget ID (each widget will need unique ID)-->

<div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

    <header class="navigation-wrap">
        <div class="col-md-12 col-xs-12">
            <div class="btn-group margin-top-5 right">
                <a class="btn btn-primary" data-toggle="modal" data-target="#modalNovaParametro" onclick="Novo()">
                    <i class="fa fa-plus"></i>
                    Novo
                </a>
                <a class="btn btn-primary" data-toggle="modal" data-target="#modalNovaParametro" onclick="Editar('EDITAR')">
                    <i class="fa fa-pencil"></i>
                    Editar
                </a>
                <a class="btn btn-danger" onclick="Excluir()">
                    <i class="fa fa-trash-o"></i>
                    Excluir
                </a>
            </div>
        </div>
    </header>

    <input type="hidden" id="IdEdit" />
    <input type="hidden" id="hdfParametro" />
    <input type="hidden" id="hdfValor" />
    <input type="hidden" id="hdfDescricao" />

    <div id="divData">
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">
            @*    <table id="dttTabela" datatables_fixedheader="top" datatables_fixedheader_offsettop="60" class="table table-striped table-bordered table-hover table-click" width="100%">*@
            <table id="dttTabela" class="table table-striped table-bordered table-hover table-click" width="100%">
                <thead>
                    <tr>
                        <th style="width:10%">Parâmetro</th>
                        <th style="width:5%">Valor</th>
                        <th style="width:50%">Descrição</th>@*Marcio Spinosa - 28/05/2018 - CR00008351*@
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            for (int i = 0; i < Model.Rows.Count; i++)
                            {

                                string t = Model.Rows[i]["VALOR"].ToString().Replace("\\", "\\\\");
                                <tr id="i" onclick="selectRow('i', '@Model.Rows[i]["PARAMETRO"].ToString()','@t', '@Model.Rows[i]["DESCRICAO"].ToString()')">
                                    <td style="width:10%">@Model.Rows[i]["PARAMETRO"].ToString()</td>
                                    <td style="width:10%">@Model.Rows[i]["VALOR"].ToString()</td>
                                    <td style="width:80%">@Model.Rows[i]["DESCRICAO"].ToString()</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>
