@using MetsoFramework.Utils
@using VNF.Portal.DataLayer
@model List<VNF.Users>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-2">
        <h1>Users</h1>
    </div>
  
    <div class="col-xs-10 right">
        <br class="hide-mobile" />
        <div class="btn-group">
            <button id="btnNovo" class="btn btn-primary" type="button" onclick="window.location='@Url.Action("Edit", "Users")'">New</button>            
            <button id="btnEdit" class="btn btn-primary disabled" type="button" onclick="Edit('Users')">Edit</button>
        </div>
        <div class="break-line20 hide-computer"></div>
    </div>
</div> 
<hr />

<input type="hidden" id="hfIdUsers" /><br />

<table id="myDataTable" class="display table table-responsive table-striped table-hover" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Ativo</th>
      </tr>
    </thead>
    <tbody>
        @foreach (var user in (IEnumerable<VNF.Users>)Model)
        {
            <tr id="@user.LogonName" class="@user.LogonName" onclick="SelectRow('Users', '@user.LogonName')">
                <td>@user.Name</td>
                <td>@user.Mail</td>
                <td>@user.Active</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#myDataTable').dataTable({
            responsive: true,
            "bLengthChange": false,
            "bSort": false,
            "pagingType": "simple_numbers",
            "pageLength": 15,
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $(nRow).children("th").css("overflow", "hidden");
                $(nRow).children("th").css("white-space", "nowrap");
                $(nRow).children("th").css("text-overflow", "ellipsis");
            }
        });
    });

</script>
