@{
    ViewBag.Title = "Cover";
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <title>@ViewBag.Title</title>
        
        <link href="@Url.Content("~/Content/bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap/bootstrap-theme.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap/cover.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

        <script src="@Url.Content("~/Scripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    
<body role="document">

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand"><img id="metso-small" src="@Url.Content("~/Images/generic/metso-small.png")" alt="Metso" /></h3>
                <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Contato</a></li>
                </ul>
            </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Sistema temporariamente indisponível.</h1>
                <p class="lead">Esta é uma parada planejada para configuração ou atualização. Aguarde alguns instantes para entrar novamente na aplicação.</p>
            </div>
            
            <div class="mastfoot">
            <div class="inner">
                <p>Caso tenha alguma dúvida fale com nosso <a href="mailto:metsoit.amhelp@metso.com">service desk</a></p>
            </div>
            </div>

        </div>

        </div>

    </div>

</body>
</html>